.gradient-custom-2 {
    
    background: #da8248;
    
    
    background: -webkit-linear-gradient(to right, #bd33c7, #472992, #244fd0, #4593b4);
    
    background: linear-gradient(to right,#bd33c7, #472992, #244fd0, #4593b4);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
 }
 .nav-link {
    color: white;
 }
 #sidebarMenu {
    position: sticky;
    top: 0;
 }
 .gradient-custom-1 {
    background: #ccd3e6;
 }
 .gradient-custom-3 {
    background: #ebd6f8;
 }
 .gradient-custom-4 {
    background: #bbf9d6;
 }
 .gradient-custom-5 {
    background: #f3c2f6;
 }
 .btn1 {
    background-color:rgb(245, 103, 150);
 }
 /* .btn2 {
    background-color:#f45389;;
 } */
 .btn11,.btn1,.btn21,.btn31,.btn13 {
    background-color:#d25ed6f2;
 }
 .btn12,.btn2,.btn22,.btn32,.btn14 {
    background-color:rgb(108, 185, 104);
 }
 /* .btn13 {
    background-color:rgb(230, 75, 101);
 }
 .btn14 {
    background-color:rgb(92, 165, 239);
 } */
 /* .btn21 {
    background-color:rgb(91, 120, 205);
 } */
 /* .btn22 {
    background-color:rgb(102, 213, 148);
 } */
 /* .btn31 {
    background-color:rgb(132, 136, 73);
 } */
 /* .btn32 {
    background-color:rgb(246, 152, 80);
 } */
 .card-body {
    border-radius: 5%;
    /* border: none; */
 }
 tbody::-webkit-scrollbar{
    width: 10px;
 }
 tbody::-webkit-scrollbar-track {
    background: #244fd0;
 }
 tbody::-webkit-scrollbar-thumb {
    background: #888;
 }
 tbody::-webkit-scrollbar-thumb:hover {
    background: #555;
 }
 .nav-item {
   margin: 15px 10px;
 }