<body>
   <section class="main">
  <header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow gradient-custom-2">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">CLOBMINDS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success text-light" type="submit">Search</button>
    </form>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3 bg-danger rounded mx-2" href="#">LOGOUT</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse gradient-custom-2" >
        <div class="position-sticky pt-3">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#">
                <i class="fa fa-home" aria-hidden="true"> Dashboard</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-tasks" aria-hidden="true" aria-hidden="true"> Task</i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-user-circle-o" aria-hidden="true"> Clients</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-users" aria-hidden="true"> Candidates</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-indent" aria-hidden="true"> Insufficiency</i>
              </a>
            </li>
            <var><var></var></var>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-check-circle" aria-hidden="true"> Checks</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-calendar-check-o" aria-hidden="true">Instant Verification</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-book" aria-hidden="true"> Reports</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-university" aria-hidden="true"> Billings</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-user-circle-o" aria-hidden="true"> Users</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-pencil-square-o" aria-hidden="true"> Roles</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active" aria-current="page" href="#"> 
                <i class="fa fa-cog" aria-hidden="true">Account</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="text-center text-danger ">Dashboard</h2>
           <!-- links for trackers starrt -->
      
      <section class="links d-flex justify-content-end gap-4">
        <div>
          <h6 class="h6"><img class=" img-fluid1" src="./assets/osp.png" ><a href="#" class="link-info text-decoration-none" >  OPS TRACKER</a></h6>
        </div>
          
        <div>
          <h6 class="h6"><img class=" img-fluid1" src="./assets/master.png" ><a href="#" class="link-info text-decoration-none"> MASTER TRACKER</a></h6>
        </div>
        <div>   
          <h6 class="h6"><img class=" img-fluid1" src="./assets/sales.png" ><a href="#" class="link-info text-decoration-none">  SALES TRACKER</a></h6>
        </div>
        <div>
          <h6 class="h6"><img class=" img-fluid1" src="./assets/opstrack.png" ><a href="#" class="link-info text-decoration-none">  OPS TRACKER</a></h6>
        </div>
      
      </section>
      <!-- links for trackers end -->
        </div>

        <!-- card start -->
        <section id="team" class="pb-5">
          <div class="container">
            
              <div class="row">
                  <!-- Team member -->
                  <div class="col-xs-8 col-sm-4 col-md-3">
                      <div class="image-flip" >
                          <div class="mainflip flip-0">
                              <div class="frontside">
                                  <div class="card h-100">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="assets\client.png" alt="card image"></p>
                                          <h4 class="card-title">3
                                            Total Clients</h4>
                                          <!-- <p class="card-text"></p> -->
                                          <button type="button" class="btn btn-primary btn-sm">more details</button>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                        <p><img class=" img-fluid" src="assets\client.png" height="25%" width="25%"alt="card image"></p>
                                          <h4 class="card-title"> 3 Total Clients</h4>
                                        
                                          
                                          <div class="row">
                                            <div class="col">
                                              <a href="" class="text-decoration-none ">Active</a>
                                            </div>
                                            <div class="col mb-2">
                                              <button class="btn btn-danger ">3</button>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col">
                                              <a href="" class="text-decoration-none ">Inactive</a>
                                            </div>
                                            <div class="col mb-2">
                                              <button class="btn btn-danger ml-4">0</button>
                                            </div>
                                          </div>
                                           
                                         
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->



                  <div class="col-xs-8 col-sm-4 col-md-3">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card h-100">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="assets\case.png" alt="card image"></p>
                                        <h4 class="card-title">
                                          58 Total Cases</h4>
                                        <!-- <p class="card-text"></p> -->
                                        <button type="button" class="btn btn-primary btn-sm">more details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                      <p><img class=" img-fluid" src="assets\case.png" height="25%" width="25%"alt="card image"></p>
                                        <h4 class="card-title">58 Total Cases</h4>
                                        
                                        <div class="row">
                                          <div class="col ">
                                            <a href="" class="text-decoration-none ">WIP</a>
                                          </div>
                                          <div class="col mb-2">
                                            <button class="btn btn-danger ml-4">42</button>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <a href="" class="text-decoration-none ">Instuff</a>
                                          </div>
                                          <div class="col mb-2">
                                            <button class="btn btn-danger ml-4">18</button>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <a href="" class="text-decoration-none ">Associate pending</a>
                                          </div>
                                          <div class="col">
                                            <button class="btn btn-danger ml-4">11</button>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <a href="" class="text-decoration-none ">Associate Completed</a>
                                          </div>
                                          <div class="col">
                                            <button class="btn btn-danger ml-4">2</button>
                                          </div>
                                        </div>
                                       
                                      
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-8 col-sm-4 col-md-3">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="assets\checks.png" alt="card image"></p>
                                        <h4 class="card-title">407
                                          Total Checks</h4>
                                          <!-- <p class="card-text"></p> -->
                                          <button type="button" class="btn btn-primary btn-sm">more details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                      <p><img class=" img-fluid" src="assets\checks.png" height="25%" width="25%"alt="card image"></p>
                                        <h4 class="card-title">&nbsp;&nbsp;&nbsp;407&nbsp; Total Checks</h4>
                                        <!-- <div >
                                          <a href="" class="text-decoration-none ">Completed Checks <button class="btn btn-danger">34</button></a>
                                        </div>
                                        <div>
                                           <a href="" class="text-decoration-none ">Pending Checks <button class="btn btn-danger ml-4">373</button></a>
                                        </div> -->
                                        
                                        <div class="row">
                                          <div class="col">
                                            <a href="" class="text-decoration-none ">Completed Checks</a>
                                          </div>
                                          <div class="col">
                                            <button class="btn btn-danger ml-4">34</button>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <a href="" class="text-decoration-none ">Pending Checks</a>
                                          </div>
                                          <div class="col">
                                            <button class="btn btn-danger ml-4">373</button>
                                          </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-8 col-sm-4 col-md-3">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="assets\reports.png" alt="card image"></p>
                                        <h4 class="card-title"> 35 Total Reports</h4>
                                        <p class="card-text"></p>
                                        <button type="button" class="btn btn-primary btn-sm">more details</button>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                      <p><img class=" img-fluid" src="assets\reports.png" height="25%" width="25%"alt="card image"></p>
                                      <h4 class="card-title">35 Total Reports</h4>
                                      
                                      <div class="row">
                                        <div class="col">
                                          <a href="" class="text-decoration-none ">Completed Report</a>
                                        </div>
                                        <div class="col">
                                          <button class="btn btn-danger ml-4">16</button>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col">
                                          <a href="" class="text-decoration-none ">Pending Report</a>
                                        </div>
                                        <div class="col">
                                          <button class="btn btn-danger ml-4">19</button>
                                        </div>
                                      </div>
                                    
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- ./Team member -->
                 
               
      
              </div>
          </div>
      </section>
      <!-- Team -->
      
    
     
        <h2 class="text-center text-danger ">  CHECK REVIEW</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead class="table-dark text-light">
              <tr>
                <th scope="col">CHECKS</th>
                <th scope="col">COMPLETED</th>
                <th scope="col">REMAINING</th>
                <th scope="col">INSTUFF</th>
                <th scope="col">CALL</th>
                <th scope="col">SMS</th>
                <th scope="col">LINK</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Address</td>
                <td>10</td>
                <td>31</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                  <td>Adhaar</td>
                  <td>0</td>
                  <td>3</td>
                  <td>15</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>PAN</td>
                  <td>3</td>
                  <td>4</td>
                  <td>14</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>VoterId</td>
                  <td>1</td>
                  <td>3</td>
                  <td>13</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>RC</td>
                  <td>0</td>
                  <td>6</td>
                  <td>7</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Passport</td>
                  <td>3</td>
                  <td>6</td>
                  <td>4</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Driving</td>
                  <td>0</td>
                  <td>6</td>
                  <td>5</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Employment</td>
                  <td>3</td>
                  <td>19</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Educational</td>
                  <td>3</td>
                  <td>21</td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Bank Verification</td>
                  <td>1</td>
                  <td>6</td>
                  <td>11</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Criminal</td>
                  <td>0</td>
                  <td>12</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Reference</td>
                  <td>1</td>
                  <td>16</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Telicom</td>
                  <td>1</td>
                  <td>12</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Covid-19</td>
                  <td>0</td>
                  <td>12</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Covid-19 Certificate</td>
                  <td>0</td>
                  <td>12</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>UPI Verification</td>
                  <td>0</td>
                  <td>13</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CIN Verification</td>
                  <td>1</td>
                  <td>12</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Drug Test-5</td>
                  <td>1</td>
                  <td>12</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>CIBIL</td>
                  <td>1</td>
                  <td>12</td>
                  <td>2</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>NID</td>
                  <td>0</td>
                  <td>12</td>
                  <td>1</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Global Database</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
  
  
     
    
  </section>
  </body>